.weather {
  width: 370px;
  border-radius: 6px;
  box-shadow: 10px -2px 20px 2px rgb(0 0 0 / 30%);
  color: #fff;
  background-color: #333;
  margin: 20px auto 0 auto;
  padding: 0 20px 20px 20px;
}


.top, .slider-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 270px;
}


.city {
  font-weight: 600;
  font-size: 18px;
  line-height: 1;
  margin: 0;
  letter-spacing: 1px;
}

.weather-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  margin: 0;
}

.weather-icon {
  width: 100px;
  filter: invert();
}

.temperature {
  font-weight: 600;
  font-size: 70px;
  width: auto;
  letter-spacing: -5px;
  margin: 10px 0;
}

.details {
  width: 100%;
  padding-left: 20px;
}

.parameter-row {
  display: flex;
  justify-content: space-between;
}

.parameter-label {
  text-align: left;
  font-weight: 400;
  font-size: 12px;
}

.parameter-value {
  text-align: right;
  font-weight: 600;
  font-size: 12px;
}

.parameter-label.top {
  border-bottom: 1px solid #fff;
}

.weather-container {
  display: flex;
  flex-wrap: wrap;
}

.dot {
  height: 10px;
  width: 10px;
  background-color: #fff; 
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;

}

.dot-faded {
  height: 10px;
  width: 10px;
  background-color:#bbb;
  border-radius: 50%;
  display: inline-block;
}

.dots-container {
  display: flex;
  flex-direction: row;
  justify-content: center; 
  margin-top: 20px;
}

.chevron::before {
	border-style: solid;
	border-width: 0.25em 0.25em 0 0;
	content: '';
	display: inline-block;
	height: 0.45em;
	left: 0.15em;
	position: relative;
	top: 0.15em;
	transform: rotate(-45deg);
	vertical-align: top;
	width: 0.45em;
}

.chevron.right:before {
	left: 0;
	transform: rotate(45deg);
}

.chevron.left:before {
	left: 0.25em;
	transform: rotate(-135deg);
}

.chevron-right {
  width: 30px;
  filter: invert();
}

.chevron-left {
  width: 30px;
  filter: invert();
  transform : rotate(180deg);
}

